<!-- <ion-content class="ion-padding" id="login" color="primary">
  <div class="h-full flex flex-col justify-center">
    <ion-grid class="flex-grow-0">
      <ion-row>
        <ion-col class="flex justify-center items-center">
          <img src="assets/imgs/logo.png" class="logo" />
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="flex-grow-0">
      <ion-row>
        <ion-col>
          <h1 class="text-center">Electronic Monitoring & Control Devices</h1>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid class="flex-grow-0">
      <ion-row class="login-input">
        <ion-col class="flex justify-center">
          <div class="input-container">
            <input type="email" id="mail" name="mail" value="" aria-labelledby="label-mail" />
            <label class="label" for="mail" id="label-mail">
              <div class="text">
                {{'login.e-mail' | translate}}
              </div>
            </label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="login-input">
        <ion-col class="flex justify-center">
          <div class="input-container">
            <input type="password" id="pass" name="pass" value="" aria-labelledby="label-pass" />
            <label class="label" for="pass" id="label-pass">
              <div class="text">{{'login.password' | translate}}</div>
            </label>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="flex justify-center items-center">
          <ion-button class="forgot-button" fill="clear" color="light">
            {{'login.forgot-password' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="flex justify-center items-center">
          <ion-button shape="round" color="light" class="login-button" routerLink="/">
            {{'login.sign-in' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="flex justify-center items-center">
          <span style="color: white;font-weight: 600;">
            {{'login.or' | translate}}
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="flex justify-center items-center">
          <ion-button shape="round" class="login-button sign-up-button" routerLink="/">
            {{'login.sign-up' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content> -->


<ion-content class="ion-padding" id="login" color="primary">
  <div class="h-full flex justify-center items-center">
    <div class="h-full flex flex-col justify-center max-w-md gap-2">
      <div class="flex items-center justify-center">
        <img src="assets/imgs/logo.png" class="logo" />
      </div>
      <h1 class="text-center text-lg font-semibold">Electronic Monitoring & Control Devices</h1>


      <ion-input type="email" label="{{'login.e-mail' | translate}}" label-placement="floating" color="light" fill="outline" placeholder="example@example.com"></ion-input>
      <ion-input type="password" label="{{'login.password' | translate}}" label-placement="floating" color="light" fill="outline" placeholder="*******"></ion-input>

      <!-- <div class="input-container">
        <input type="email" id="mail" name="mail" value="" aria-labelledby="label-mail" />
        <label class="label" for="mail" id="label-mail">
          <div class="text">
            {{'login.e-mail' | translate}}
          </div>
        </label>
      </div>

      <div class="input-container">
        <input type="password" id="pass" name="pass" value="" aria-labelledby="label-pass" />
        <label class="label" for="pass" id="label-pass">
          <div class="text">{{'login.password' | translate}}</div>
        </label>
      </div> -->

      <ion-button class="forgot-button" fill="clear" color="light">
        {{'login.forgot-password' | translate}}
      </ion-button>

      <ion-button shape="round" color="light" class="login-button" routerLink="/">
        {{'login.sign-in' | translate}}
      </ion-button>

      <span class="text-center text-white text-sm">
        {{'login.or' | translate}}
      </span>

      <ion-button shape="round" class="login-button sign-up-button" routerLink="/">
        {{'login.sign-up' | translate}}
      </ion-button>

    </div>
  </div>


</ion-content>