<ion-tabs>
  <ion-tab-bar slot="top" color="primary">
    <ion-tab-button routerLink="/" class="flex-grow-0 flex-shrink-0 tab-selected">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings-tab1" href="/settings-tab1">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>{{'setting-tabs.general' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings-tab2" href="/settings-tab2">
      <ion-icon aria-hidden="true" name="construct"></ion-icon>
      <ion-label>{{'setting-tabs.general-fertilizer' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings-tab3" href="/settings-tab3">
      <ion-icon aria-hidden="true" name="toggle"></ion-icon>
      <ion-label>{{'setting-tabs.row-enable-disable' | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings-tab4" href="/settings-tab4">
      <ion-icon aria-hidden="true" name="build"></ion-icon>
      <ion-label>{{'setting-tabs.granular-motor' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>