<!-- <ion-header>
  <ion-toolbar color="primary">

    <ion-grid>
      <ion-row>
        <ion-col size="1" class="flex items-center justify-center">
          <ion-icon name="arrow-back" class="text-2xl" routerLink="/"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <div>
            <ion-segment mode="ios" value="t1">
              <ion-segment-button routerLink="/settings-tab1" routerLinkActive="segment-button-checked" value="t1" color="light" shape="round">
                {{'setting-tabs.general' | translate}}
              </ion-segment-button>
              <ion-segment-button routerLink="/settings-tab2" [ngClass]="{'segment-button-checked': false}" value="t2" color="light" shape="round">
                {{'setting-tabs.general-fertilizer' | translate}}
              </ion-segment-button>
              <ion-segment-button routerLink="/settings-tab3" value="t3" color="light" shape="round">
                {{'setting-tabs.row-enable-disable' | translate}}
              </ion-segment-button>
              <ion-segment-button routerLink="/settings-tab4" value="t4" color="light" shape="round">
                {{'setting-tabs.granular-motor' | translate}}
              </ion-segment-button>
            </ion-segment>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <ion-grid style="height: 100%!important;">
    <ion-row class="full-height">
      <ion-col sizeMd="8" class="full-height">
        <ion-content class="bg-app-primary no-padding">
          <app-settings-general [focusDistanceBetweenSeeds]="focusDistanceBetweenSeeds"
            [focusFertilizerWeight]="focusFertilizerWeight" [focusDistanceBetweenUnits]="focusDistanceBetweenUnits">
          </app-settings-general>
        </ion-content>

      </ion-col>
      <ion-col sizeMd="4">
        <div class="general-settings-buttons">
          <ion-button shape="round" size="small" (click)="openSeedCalibrationModal()">
            <ion-icon name="leaf" slot="start"></ion-icon>
            {{'settings.general.seed-calibration' | translate}}
          </ion-button>
          <ion-button shape="round" size="small" (click)="openCalibrationModal()">
            <ion-icon name="logo-dropbox" slot="start"></ion-icon>
            {{'settings.general.fertilizer-calibration' | translate}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer class="bg-app-primary">
  <div class="flex justify-center align-center py-1">
    <ion-button (click)="submitGeneralSettings()" [disabled]="isButtonDisabled" shape="round" color="light"
      type="submit">
      {{'settings.general.save' | translate}}
    </ion-button>
  </div>
</ion-footer>