<ion-content class="ion-padding" color="light">
  <ion-grid style="height: 100%!important;">
    <ion-row class="full-height">
      <ion-col size="8" class="full-height">
        <ion-content color="light">
          <div class="form-container">
            <div class="flex justify-between items-center bg-white p-3 rounded-lg"
              *ngFor="let machine of (loadSettings()).machines; let i = index">
                <span>
                  {{i + 1}}. {{'settings.row-enable-disable.row-control' | translate}}({{'enable' |
                translate}}/{{'disable' |translate}})
                </span>
                <ion-toggle  (ionChange)="onToggleChange($event, machine, i)"
                [checked]="machine.show">              
              </ion-toggle>
            </div>
          </div>
        </ion-content>

      </ion-col>
      <ion-col sizeMd="4">
        <div class="general-settings-buttons">
          <ion-button shape="round" size="small" (click)="openSeedCalibrationModal()">
            <ion-icon name="leaf" slot="start"></ion-icon>
            {{'settings.general.seed-calibration' | translate}}
          </ion-button>
          <ion-button shape="round" size="small" (click)="openCalibrationModal()">
            <ion-icon name="logo-dropbox" slot="start"></ion-icon>
            {{'settings.general.fertilizer-calibration' | translate}}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>