<ion-content class="ion-padding">
  <div class="flex justify-center align-center flex-column h-full" >
    <ion-row>
        <ion-col size="12">
            <h3 class="text-center text-xl font-bold">{{'settings.general-fertilizer.title' | translate}}</h3>
            <p class="description text-center">
              {{'settings.general-fertilizer.warning-description' | translate}}
            </p>
        </ion-col>
        <ion-col size="12">
            <ion-input fill="solid" label="{{'password' | translate}}:" labelPlacement="floating" type="text"></ion-input>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <ion-button (click)="goBack()" shape="round">
              {{'cancel' | translate}}
          </ion-button>
          <ion-button (click)="goTabTwo()"  shape="round">
              {{'ok' | translate}}
          </ion-button>
        </ion-col>
    </ion-row>
  </div>
</ion-content>
